.input {
  display: flex;
  flex-direction: row;
  height: 24px;
  align-items: center;

  &__line {
    width: 0;
    height: 0;
    opacity: 0;

    border: solid green 1px;
  }
}

.cmd span {
  float: left; 
  padding-left: 3px;
  white-space: pre;
}

.cursor {
  float: left;
  width: 10px;
  height: 14px;
  background: rgb(121, 172, 45);

  &__hide {
    visibility: hidden;
  }

  &__inactive {
    box-sizing: border-box;
    background: black;
    border: solid rgb(121, 172, 45) 1px;
  }
}