.header {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: x-large;
  }
  
  &__description {
    font-size: medium
  }
  
  &__summary {
    padding-top: .3em;
    margin-top: 10px;
    font-size: small;
    min-height: 40px;
  }
}