.experience {
  border-top: solid 2px rgb(121, 172, 45);
  padding: .3em 0 .2em 0;
  page-break-after: always;
  
  @media print {
    border-top: solid 1px black;
  }

  &__list {
    font-size: small;
    list-style-type: '# ';

    @media print {
      margin: 0;
    }

    &__item {
      margin: 1em 0 0 1em;
      
      @media print {
        margin: 0;
      }
    
      &__sublist {
        list-style-type: '- ';
      }

      & div {
        margin-bottom: .2em;
      }

      &_small {
        font-size: x-small;
      }
    }
  }
}