.experience {
  border-top: solid 2px rgb(121, 172, 45);
  padding-top: .3em;

  &__list {
    font-size: small;
    list-style-type: '# ';

    &__item {
      margin: 1em 0 0 1em;

      &__sublist {
        list-style-type: '- ';
      }

      & div {
        margin-bottom: .2em;
      }

      &_small {
        font-size: x-small;
      }
    }
  }
}