@font-face {
  font-family: "start";
  src: url('assets/fonts/PressStart2P-Regular.ttf')
}

.app {
  font-family: 'start';
  color: rgb(121, 172, 45);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__container {
    width: 80%;
  }

  @media print {
    font-family: 'Courier New', Courier, monospace
  }
}