.languages {
  border-top: solid 2px rgb(121, 172, 45);
  padding-top: .3em;

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: small;

    &__item {
      margin: 0 .5em .2em .5em;
      padding: .2em .5em;
      border: solid rgb(74, 82, 63) 1px;
      border-radius: 5px;
      color: black;
      background-color: rgb(121, 172, 45);
    }
  }
}