.contacts{
  padding-top: .3em;
  border-top: solid 2px rgb(121, 172, 45);
  
  &__container {
    display: flex;

    &__icon {
      fill: rgb(121, 172, 45);
      
      @media print {
        fill: black;
      }
    }

    @media (max-width: 480px) {
      flex-direction: column;
    }

    &__list {
      font-size: x-small;
      width: 50%;
      
      &__item {
        display: flex;
        align-items: center;
        padding: .2em 0 .2em 0;
        list-style: none;

        & > div {
          margin-left: 1em;
        }
      }
    }

    &__socials {
      display: flex;
      width: 50%;
      align-items: flex-end;
      justify-content: flex-end;

      &__item {
        margin: 0 5px 0 5px;
      }
      @media print {
        display: none;
      }
    }

  }
}
