.contacts{
  &__container {
    border-top: solid 2px rgb(121, 172, 45);

    &__list {
      
      &__item {
        display: flex;
        align-items: center;
        padding: .2em 0 .2em 0;
        font-size: small;
        list-style: none;

        & > div {
          margin-left: 1em;
        }
      }
    }

    &__socials {
      text-align: end;

      &__item {
        margin: 0 5px 0 5px;
      }
    }

  }
}
